@use '../../assets/style/var.scss';

.#{var.$prefix}-resizer {
  display: inline-block;
  vertical-align: top;
  position: relative;

  &__selected {
    outline: 1px solid var(--primary-color);
  }

  &__full {
    display: block;
  }

  &-point {
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 2px;
    border: 1px solid var(--primary-color);
    background-color: #fff;

    &.top-left {
      top: -4px;
      left: -4px;
      cursor: nwse-resize;
    }

    &.top-right {
      top: -4px;
      right: -4px;
      cursor: nesw-resize
    }

    &.bottom-left {
      bottom: -4px;
      left: -4px;
      cursor: nesw-resize
    }

    &.bottom-right {
      bottom: -4px;
      right: -4px;
      cursor: nwse-resize;
    }

    .ProseMirror[contenteditable="false"] & {
      display: none;
    }
  }
}
