@use 'var.scss';
@use 'tippy.scss';

.#{var.$prefix}-content {
  font-size: 16px;
  color: #2B2B3A;
  position: relative;

  ::selection {
    background-color: rgba(0, 90, 255, 0.1);
    color: currentColor;
  }

  .tiptap.ProseMirror {
    padding: 16px;
  }

  [contenteditable="true"] {
    outline: none;

    .#{var.$prefix}-link {
      cursor: text;
    }
  }

  .block {
    margin-top: 16px;
    margin-bottom: 16px;
    word-break: break-word;
  }

  .#{var.$prefix}-text,
  .#{var.$prefix}-block {
    margin: 8px 0;
    font-size: 16px;
    line-height: 1.8;

    &.is-editor-empty {
      &:first-child::before {
        color: #35261c4d;
        content: attr(data-placeholder);
        position: absolute;
        left: 16px;
      }
    }
  }

  h1.#{var.$prefix}-heading {
    font-size: 26px;
    margin-top: 26px;
    margin-bottom: 10px;
    line-height: 1.8;
  }

  h2.#{var.$prefix}-heading {
    font-size: 22px;
    margin-top: 22px;
    margin-bottom: 8px;
    line-height: 1.8;
  }

  h3.#{var.$prefix}-heading {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 8px;
    line-height: 1.8;
  }

  .#{var.$prefix}-horizontal-rule {
    height: 1px;
    border: none;
    background-color: rgba(31, 35, 41, 0.15);
    margin: 12px 0;
  }

  .#{var.$prefix}-blockquote {
    position: relative;
    padding-left: 12px;
    margin: 8px 0;

    &::before {
      content: '';
      width: 2px;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      background-color: #D7DAE0;
    }
  }

  code {
    padding: 1px 4px;
    margin: 0 3px;
    color: #5C6270;
    background: #F3F4F5;
    border: 1px solid #E6E8EB;
    border-radius: 4px;
  }

  mark {
    padding: 0;
  }


  .#{var.$prefix}-ordered-list,
  .#{var.$prefix}-bullet-list {
    padding-left: 16px;

    .#{var.$prefix}-list-item {
      &::marker {
        color: var(--primary-color);
      }
    }

    .block {
      margin-bottom: 8px;
      margin-top: 8px;
    }
  }

  .#{var.$prefix}-task-list {
    padding-left: 0;

    .#{var.$prefix}-task-item {
      padding: 0;
      list-style: none;
      display: flex;

      &[data-checked="true"] {
        p {
          text-decoration: line-through;
          opacity: 0.6;
        }
      }

      >div {
        flex: auto;
      }
    }

    label {
      margin-right: 8px;
      line-height: 1.6;
    }

    .block {
      margin-bottom: 0;
      margin-top: 0;
    }

    input[type="checkbox"] {
      appearance: none;
      border: 1px solid #d7dae0;
      width: 16px;
      height: 16px;
      border-radius: 4px;
      cursor: pointer;
      position: relative;
      background-color: #fff;
      transition: all .3s;
      vertical-align: middle;

      &:checked {
        background-color: var(--primary-color);
        border-color: var(--primary-color);

        &::after {
          content: " ";
          position: absolute;
          top: 50%;
          left: 50%;
          border: 2px solid #fff;
          border-top: 0;
          border-left: 0;
          transform: rotate(45deg);
          opacity: 1;
          width: 6px;
          height: 9px;
          margin-top: -6px;
          margin-left: -3px;
        }
      }
    }
  }

  .#{var.$prefix}-columns {
    display: flex;
    gap: 8px;
    margin: 12px 0;
    overflow: auto;

    &.has-focus,
    &:hover {
      .column {
        background: #F7F7F8;
      }
    }

    .#{var.$prefix}-column {
      flex: 1;
      padding: 10px;
      border-radius: 4px;
      border: 1px solid transparent
    }

    &.ProseMirror-selectednode {
      .#{var.$prefix}-column {
        border-color: var(--primary-color);
      }
    }
  }

  .tableWrapper {
    overflow-x: auto;
    &.ProseMirror-selectednode {
      table {
        background-color: #E9EEFD;
      }
    }
  }

  table {
    margin: 16px 0;
    border-collapse: collapse;
    overflow: hidden;
    table-layout: fixed;
    width: 100%;

    th,
    td {
      border: 1px solid #D7DAE0;
      box-sizing: border-box;
      padding: 6px 8px;
      position: relative;
      vertical-align: top;

      .block {
        &:first-of-type {
          margin-top: 0;
        }

        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }

    th {
      background-color: #f5f5f5;
      font-weight: bold;
      text-align: left;
    }

    .selectedCell {
      background-color: #E8F0FF !important;
    }

    .column-resize-handle {
      background-color: var(--primary-color);
      bottom: -1px;
      pointer-events: none;
      position: absolute;
      right: -1px;
      top: 0;
      width: 2px;
      z-index: 2;
    }
  }

  .search-result {
    background-color: #ffd90080;

    &.search-result-current {
      background-color: #0dff0080;
    }
  }

  .resize-cursor {
    cursor: col-resize;
  }

  .ProseMirror-gapcursor {
    &::after {
      border-top: 2px solid var(--primary-color);
    }
  }
}

.#{var.$prefix}-disabled,
.#{var.$prefix}-readonly {
  .#{var.$prefix}-columns:hover {
    .#{var.$prefix}-column {
      background: transparent;
    }
  }
}

.#{var.$prefix}-heading-menu__btn {
  width: 66px;
  > span {
    padding: 0 4px;
    flex: 1;
    text-align: left;
  }
}

.prosemirror-dropcursor-block {
  background-color: var(--primary-color) !important;
  height: 2px !important;
}
