@use '../../assets/style/var.scss';

.#{var.$prefix}-video {
  &-inline {
    vertical-align: middle;
    margin: 0 2px;
  }
  &-el {
    display: block;
    max-width: 100%;
    border-radius: 4px;
  }

  &__error {
    color: #878D99;
    font-size: 14px;
    .antcon {
      margin-right: 4px;
    }
  }

  &-loading {
    aspect-ratio: 16 / 9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F8F9FA;
    border-radius: 4px;

    .ProseMirror-selectednode & {
      border: 1px solid var(--primary-color);
    }
  }

  &-tips {
    color: #878D99;
    font-size: 14px;
    margin-top: 16px;
  }

  .ant-progress {
    .ant-progress-text {
      font-size: 14px;
    }
  }
}
