@use '../../assets/style/var.scss';

.node-image {
  span.inline-image {
    display: inline-block;
  }
}

.#{var.$prefix}-image {
  &-inline {
    vertical-align: middle;
    margin: 0 2px;
  }
  &-el {
    display: block;
    max-width: 100%;
    border-radius: 4px;
  }

  &__selected {
    outline: 1px solid var(--primary-color);
  }

  &__view {
    cursor: zoom-in;
  }

  &__error {
    width: 500px;
    aspect-ratio: 16 / 9;
    color: #878D99;
    background-color: #F8F9FA;
    font-size: 12px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;

    .ProseMirror-selectednode & {
      border: 1px solid var(--primary-color);
    }

    .antcon {
      margin-right: 4px;
    }
  }

  &__loading {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0, 0.4);
  }

  .ant-image {
    display: none;
  }

  .ant-progress {
    .ant-progress-text {
      font-size: 16px;
      color: rgba(255,255,255, 0.8);
    }
  }
}
