@use '../../assets/style/var.scss';

.#{var.$prefix}-iframe {
  position: relative;
  &-el {
    border: none;
    display: block;
    max-width: 100%;
    border-radius: 4px;
    aspect-ratio: 16 / 9;
  }

  &-mask {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
