@use '../../assets/style/var.scss';

.#{var.$prefix}-menu__container {
  padding: 4px;
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;

  .ant-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-width: 0;

    &:not([disabled]) {
      color: #515764;
    }

    &:hover {
      background-color: #F3F4F5;
    }
  }

  .ant-btn-mini {
    border-radius: 4px;

    &.ant-dropdown-trigger {
      padding-left: 0;
      padding-right: 4px;
    }
  }

  .ant-tooltip-disabled-compatible-wrapper,
  .ant-popover-disabled-compatible-wrapper {
    width: 24px;
    height: 24px;
  }
}
