@use '../../assets/style/var.scss';

.#{var.$prefix}-float-menu {

  .#{var.$prefix}-float-menu-base-menu {
    padding: 8px 12px 2px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 4px;
  }

  &-divider {
    margin: 4px 8px !important;
    width: calc(100% - 16px) !important;
    min-width: auto !important;
  }

  .ant-popover-inner {
    padding: 0 !important;
    width: 178px;
    overflow: hidden;

    .ant-menu-vertical {
      padding: 0 !important;
      padding-bottom: 2px !important;
    }

    .ant-menu-item,
    .ant-menu-submenu-title {
      padding: 0 16px !important;
      height: 32px !important;
    }

    .ant-menu-item-icon {
      flex-shrink: 0 !important;
    }

    .ant-menu-title-content {
      margin-left: 4px !important;
    }
  }
}

.#{var.$prefix}-float-menu-sub-menu {

  .ant-menu-item,
  .ant-menu-submenu-title {
    padding: 0 16px !important;
    height: 32px !important;
    width: 178px !important;
  }
}
